.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.stripe-connect-background {
  background: linear-gradient(to right, #3023ae, #c86dd7, #f5c6cb);
}
.stripe-connect-background {
  background: radial-gradient(circle, #3023ae, #c884d5, #f5c6cb);
}
.stripe-connect-background {
  background-image: linear-gradient(to left, #3023ae, #c86dd7, #f5c6cb);
}

.bg-opacity-card {
  background-color: #000000; /* or any other color */
  opacity: 0.7;
}
.bg-opacity-cardx2 {
  background-color: #000000; /* or any other color */
  opacity: 0.9;

}
.stripe-connect-border {
  border: 3px solid #9755c8;
  border-radius:10px;
  box-shadow: 0 0 10px #7745bf;
}
.button-hover:hover {
  /*background: radial-gradient(circle, #3023ae, #c884d5, #f5c6cb);*/
  /*background: rgba(0, 0, 0, 0);*/
  background-color: #000000; /* or any other color */
  opacity: .6;

}
.title-header {
  color: white;
  text-shadow: 1px 1px 2px #333;
}

.subtitle-header {
  color: white;
  text-shadow: 1px 1px 2px #333;
}
.left-image {
  float: left;
  width: 20%; /* adjust as needed */
  height: auto;
  margin-right: -1000px;
}


